
<% layout ("/layouts/boilerplate")%>

  <div class="alert alert-danger mt-3 offset-2" role="alert">
    <div class="col-8">
        <p><%= err.message %></p>
        <p><%= err.stack %></p>
    </div>
  </div>